%miniTitle {
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 2px;
}

%title {
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: normal;
}
