@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
header nav ul li, header nav ul li:hover, .hero a:hover, .studio h4,
.card h4, .studio a:hover,
.card a:hover, .blog h4, .blog a:hover {
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 2px;
}

.hero h3, .studio h3,
.card h3, .blog h3 {
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Serif JP", serif;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

header {
  padding: 0px 140px;
  padding-top: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
}

header nav {
  width: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul li {
  cursor: pointer;
  margin-right: 24px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: uppercase;
}

header nav ul li:hover {
  opacity: 1;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
}

header nav ul li:first-child li {
  margin-right: 60px;
  letter-spacing: 2px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.hero img {
  width: 50%;
  height: 100%;
}

.hero .hero-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.hero h3 {
  text-align: center;
  margin: 50px 250px;
}

.hero a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.hero a:hover {
  opacity: 1;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
}

.studio,
.card {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 140px;
}

.studio .studio-contents,
.studio .card-contents,
.card .studio-contents,
.card .card-contents {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3ede8;
}

.studio img,
.studio div,
.card img,
.card div {
  width: 50%;
}

.studio h4,
.card h4 {
  margin-bottom: 30px;
}

.studio h3,
.card h3 {
  text-align: center;
  margin: 50px 250px;
}

.studio a,
.card a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.studio a:hover,
.card a:hover {
  opacity: 1;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
}

.blog {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 140px;
}

.blog .post__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3ede8;
}

.blog img,
.blog div {
  width: 50%;
}

.blog h4 {
  margin-bottom: 30px;
}

.blog h3 {
  text-align: center;
  margin: 50px 250px;
}

.blog a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.blog a:hover {
  opacity: 1;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
}
/*# sourceMappingURL=scss.css.map */