@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #f0eff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: fixed;
  color: #e7473c;
  width: 40%;
  height: 100%;
  padding: 10vh 0 72px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  width: 50%;
  letter-spacing: 5px;
}

header h3 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 80%;
  line-height: 1.2;
  font-weight: bold;
}

header p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 30px;
  width: 80%;
  font-family: "Lato";
  line-height: 0.8;
}

header nav {
  width: 90%;
}

header nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

header nav li {
  cursor: pointer;
  font-size: 0.7rem;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  font-weight: 600;
  color: black;
  opacity: 0.5;
}

header nav li:hover {
  opacity: 1;
}

main {
  height: 600vh;
  margin-left: 38%;
  background: #e7473c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(0, 0, 0, 0.1)), color-stop(transparent), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(transparent)) #e7473c;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1%, transparent, transparent, transparent, transparent, transparent) #e7473c;
}

main .movie {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, rgba(0, 0, 0, 0.2)), color-stop(transparent), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(transparent)) #e7473c;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 4%, transparent, transparent, transparent, transparent, transparent) #e7473c;
  height: 100vh;
  color: #f0eff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  height: 100vh;
}

main .movie .movie-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .movie .movie-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
  letter-spacing: 2px;
}

main .movie img {
  width: 100%;
  margin: 10px 0px;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

main .movie .movie-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .movie .movie-likes p {
  margin-right: 10px;
  font-size: 1.2rem;
}

main .movie .movie-likes .thums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .movie .movie-likes .thums i {
  font-size: 1.5rem;
  margin-right: 10px;
}

main .movie .movie-likes .thums .thums-up,
main .movie .movie-likes .thums .thums-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .movie .movie-likes .thums .thums-up i,
main .movie .movie-likes .thums .thums-down i {
  margin-bottom: 5px;
}

main .movie .movie-likes .thums .thums-up span,
main .movie .movie-likes .thums .thums-down span {
  font-size: small;
}
/*# sourceMappingURL=scss.css.map */